<h1>Listing guide_images</h1>

<table>
  <thead>
    <tr>
      <th>Guide pack version</th>
      <th>Path</th>
      <th>Title</th>
      <th>Description</th>
      <th>Manifest version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guide_images.each do |guide_image| %>
      <tr>
        <td><%= guide_image.guide_pack_version %></td>
        <td><%= guide_image.path %></td>
        <td><%= guide_image.title %></td>
        <td><%= guide_image.description %></td>
        <td><%= guide_image.manifest_version %></td>
        <td><%= link_to 'Show', guide_image %></td>
        <td><%= link_to 'Edit', edit_guide_image_path(guide_image) %></td>
        <td><%= link_to 'Destroy', guide_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guide image', new_guide_image_path %>
