<h1>Listing id_maps</h1>

<table>
  <thead>
    <tr>
      <th>Guide pack version</th>
      <th>Guide</th>
      <th>Game</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @id_maps.each do |id_map| %>
      <tr>
        <td><%= id_map.guide_pack_version %></td>
        <td><%= id_map.guide_id %></td>
        <td><%= id_map.game_id %></td>
        <td><%= link_to 'Show', id_map %></td>
        <td><%= link_to 'Edit', edit_id_map_path(id_map) %></td>
        <td><%= link_to 'Destroy', id_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Id map', new_id_map_path %>
