<p id="notice"><%= notice %></p>

<p>
  <strong>Packid:</strong>
  <%= @guide_pack.packid %>
</p>

<p>
  <strong>Pretty name:</strong>
  <%= @guide_pack.pretty_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @guide_pack.description %>
</p>

<p>
  <strong>Is private:</strong>
  <%= @guide_pack.is_private %>
</p>

<%= link_to 'Edit', edit_guide_pack_path(@guide_pack) %> |
<%= link_to 'Back', guide_packs_path %>
